exclude .cookiecutter-replay.json
exclude .editorconfig
exclude .gitignore
exclude CODEOWNERS
exclude CONTRIBUTING.md
exclude mkdocs.yml
exclude noxfile.py
global-exclude conftest.py
recursive-exclude .github *
recursive-exclude cookiecutter *
recursive-exclude docs *
recursive-exclude tests *
recursive-exclude tests_golden *
recursive-include py *.pyi
